header {
    background-color: #1F2937;
    color:white;
}

footer {
    background-color:#1F2937;
    color: white;
    text-align: center;
    padding:15px 0;
}

body {
    font-family: "Open Sans", sans-serif;
}
.promo {
    width: 960px;
    margin: 0 auto;
    display:flex;
}

#heroImg{
    max-width: 400px;
    margin-left:100px;
}

nav {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}
nav ul{
    display: block;
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:right;
}
nav li {
    display: inline;
    padding: 0 10px;
}
nav li a{
    color: white;
    text-decoration: none;
}

.main {
    width: 960px;
    margin: 0 auto;
    background-color: white;
}

.feature-set {
    display: flex;
    justify-content: space-between;
}

.feature-item {

}

button {
    background-color: #2874ff;
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 4px;
}

.action-section {
    background-color: #f5f5f5;
    padding: 20px 0;
}

.call-to-action {
    width: 400px;
    margin: 0 auto;
    display: flex;
}

.action-text {
    flex: 1 1 auto;
}

.action-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


